venv/
.env/
db.sqlite3
*.pyc
*.pyo
__pycache__/
*.log
*.pot
*.pyc
*.pyo
.tox/
.nox/
.coverage
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.coverage
*.hypothesis
staticfiles/
config/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
